#!/bin/bash

#自动根据memory计算出wiredTiger缓存大小

mem=`free -mh|egrep Mem|awk '{print $2}'|awk '{sub(/.$/,"")}1'|awk '{print int($1+0.5)}'`

let cacheSizeGB="(${mem} / 3 - 1) / 2"

#sed -i 's|cacheSizeGB: 1|cacheSizeGB: '"${cacheSizeGB}"'|' /etc/ansible/roles/dba_ray.mongodb/templates/mongod_shard*.conf.j2

echo ${cacheSizeGB} > /tmp/mongo_cacheSizeGB.txt