#!/bin/bash

#自动根据memory计算出wiredTiger缓存大小

mem=`free -mh|egrep Mem|awk '{print $2}'|awk '{sub(/.$/,"")}1'|awk '{print int($1+0.5)}'`

let cacheSizeGB="(${mem} / 3 - 1) / 2"

echo ${cacheSizeGB} > /tmp/mongo_cacheSizeGB.txt

configDB=`cat /etc/hosts|grep mongo|grep {{ env }}|awk '{print $1}'|awk '{print $0":{{ mongodb_conf_port }}"}'|awk BEGIN{RS=EOF}'{gsub(/\n/,",");print}'`

sed -i 's|configDB: 1|configDB: replconf/'"${configDB}"'|' {{ basedir }}_{{ mongos_port }}/data/mongod.conf